body {
    margin-left: 3rem;
    font-family: sans-serif;
}

.italic {
    font-style: italic;
}

.unbold {
    font-weight: normal;
}

h1 {
    margin-bottom: 0%;
}

.close-top {
    margin-top: 0%;
}

.close-bottom {
    margin-bottom: .5%;
}

li, p {
    font-size: large;
}

li {
    margin-bottom: .5%;
}

.bold {
    font-weight: bold;
}

.offset {
    margin-left: auto;
} 

h2, .exp, .double-table {
    display: flex;
    width: 850px;
}

h2, .edu {
    display: flex;
    width: 1050px;
}